################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BE/API/wwwroot/Images/Original/admin.jpg
